/* Menyembunyikan kolom ID, Last Updated, dan Action pada tablet dan ponsel */
.responsive-table .id,
.responsive-table .last-updated,
.responsive-table .action {
  display: table-cell;
}

/* Tablet (maksimal lebar 768px) */
@media screen and (max-width: 768px) {
  .id,
  .last-updated,
  .action {
    display: none;
  }
}

/* Ponsel (maksimal lebar 576px) */
@media screen and (max-width: 576px) {
  .responsive-table .id,
  .responsive-table .last-updated,
  .responsive-table .action {
    display: none;
  }
}
